* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Setting defaults */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* variables */
:root {
  --primary-color: #001c30;
  --secondary-color: #97e4ff;
  --content-bg: #f5f1ef;
  --other-color: #1b0b05;
  --primary-two: #0a4570;
  --btn-color: #2fc0f2;
}

/* utility classes */
.btn {
  padding: 12px;
  background-color: var(--btn-color);
  color: var(--primary-color);
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  font-weight: bolder;
}
.btn:hover {
  background-color: var(--primary-color);
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
}

/* ---------HEADER SECTION-------------- */

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2vw 4vw;
}

nav ul {
  display: flex;
  column-gap: 25px;
  font-size: 1.2rem;
}

nav ul li a {
  color: var(--secondary-color);
  position: relative;
  transition: color 0.3s ease;
  padding: 12px 5px;
  display: inline-block;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--secondary-color);
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: var(--btn-color);
}

.logo {
  height: 70px;
  width: 80px;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* --------FOOTER SECTION----------- */

footer {
  background: var(--primary-color);
  padding: 1vw 4vw;
  color: white;
}

.footer-one {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}
#col-one {
  width: 30%;
}
.col-one-p {
  font-size: 0.8rem;
  width: 80%;
  line-height: 1.3rem;
  margin: 10px 0;
}
.column h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-link {
  margin: 10px 0;
}
.footer-link a {
  padding: 12px 0;
  color: white;
  transition: all 0.2s ease-out;
}
.footer-link a:hover {
  color: var(--secondary-color);
}
.cont-adrs-text {
  margin: 12px 0;
}

.footer-icons a {
  font-size: 1.5rem;
  color: white;
  padding: 5px;
  transition: all 0.2s ease-out;
}
.footer-icons a:hover {
  color: var(--secondary-color);
}
.footer-two {
  text-align: center;
  padding: 10px 0;
}
