@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');


/* Resets */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size:1.5rem;
}

p{
    font-family:'Roboto', sans-serif;
    font-size: 1.25rem;
    color:var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: var(--link-color);
}

ul{
    list-style:none;
}

/* Utility classes */

/* Additional styles using CSS variables */
h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color);
}
.footer-container .link-column a,h4, .subfooter{
    color: var(--footer-color);
}

.dark-theme {
    --bg-color: black;
    --text-color: white;
    --link-color: lightblue;
    --footer-color: black;
}
.bg{
    /* background-color: rgb(245, 245, 245); */
    backdrop-filter: blur(30px);
    box-shadow: 0 0 1000px rgba(227,228,237,0.37);
    border-radius:5px;
    border: 2px solid rgba(255,255,255,0.18);
}
/* from additional to above ko bg is edited at last */


.small-bold-text{
    font-size:1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline:auto;
    padding-inline:var(--padding-inline-section);
}

.flex{
    display:flex;
    align-items:center;
}

.hover-link{
    color:var(--primary-text-color);
    transition: 0.2s ease-outk;
}
.hover-link:hover{
    color:var(--accent-color);
}

.primary-button{
    background-color: var(--accent-color);
    font-weight: 700;
    border-radius:6px;
    color:white !important;
    padding:12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition:0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border:0.5px solid var(--secondary-text-color);
    border-radius:6px;
    font-weight: 700;
    padding:12px 24px;
    transition:0.2s ease-out;
    color:var(--primary-text-color) !important;
}
.secondary-button:hover{
    color:var(--accent-color) !important;
    border-color:var(--accent-color);
}


/* edited at last yo delay 1 */
/* Utility classes for animation library (https://animate.style/)  */
.delay-1{
    animation-delay:0.25s;
}




/* Top banner */

.top-banner{
    background-color:#4fb3d4;
    background-image: url(Assets/asset\ 30.png);
    background-size: 300px;
}

.banner-text{
    color:white;
    padding:15px 30px;
    text-align: center;

}

/* Navbar */


.main-nav{
    margin-top:20px;
    justify-content: space-between;
}
.company-logo{
    border-radius:3px;
    display: flex;
    align-items: center;
    padding:5px;
    background-color: var(--text-color);
}
.company-logo img{
   width: 200px; 
}
.nav-links{
    flex-basis:730px;
}

.nav-links ul{
    justify-content: end;
    gap:40px;
}
.nav-links ul li a{
    width:max-content;
}
/* header section */

header{
    padding:50px var(--padding-inline-section);
}

.header-section{
    justify-content: center;
    gap:50px;
    overflow: hidden;
}

.header-left{
    max-width: 40vw;

}

.header-left h1{
    margin-top:20px;
}

.get-started-btn{
    margin-top:20px;
}

.header-section img{
    width:600px;

}


/* companies section */

.companies-header{
    text-align: center;
    margin-block:30px;
    color:var(--primary-text-color);   
}

.logos{
    border-radius: 5px;
    padding:10px 15px;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height:46px;
    background-color: rgb(255, 255, 255);
}


/* features section */

.features-section{
    padding:80px var(--padding-inline-section) 0;
    background-image:url(Assets/asset\ 32.svg);
    background-repeat:no-repeat;
    background-position:center;
}

.features-header{
    text-align:center;

}
.features-heading-text{
    margin-bottom:20px;
}

.features-area{
    flex-wrap:wrap;
    justify-content: space-between;
    gap:40px;
    margin-top:20px;
    padding:10px 15px;
}
.features-card{
    flex-direction: column;
    gap:20px;
    max-width: 30%;
    text-align: center;
}

.features-card img{
    width:60px;
}


/*  big feature section*/

.big-feature-section{
    padding:30px var(--padding-inline-section) 0;
}

.big-feature-container{
    gap:30px;
}
.feature-img img{
    width:100%;
}

.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}


/* example section */

.examples-header{
    flex-direction: column;
    gap:20px;
}
.examples-area{
    justify-content: space-between;
    margin-block:30px;
}

.examples-card{
    width:23%;
    position:relative;
    min-height:300px;
    background: black;
    background:linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(Assets/asset\ 35.jpeg);
    transition:0.2s ease-out;
}
.examples-card:hover{
    box-shadow: 0 0 10px #888;
}

.examples-card:nth-child(4){
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0,  0, 0.8)), url(Assets/asset\ 37.jpeg);
    background-size: cover;

}
.card-text{
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
    color:#fff;
    font-weight: 500;
}


/* CTA SECTION */


.cta-section{
    background:#183b569f;
    padding:120px var(--padding-inline-section) 80px;
}
.cta-section-container{
    flex-direction:column;
    gap:30px;
    color:white;
}
.cta-section-container p{
    color:white;
    margin-top:20px;
}


/* footer */

footer{
    padding-block:80px;
    background-color: #ebf2fa;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}

/* subfooter */

.subfooter{
    background-color:#b9cde4;
    padding:var(--padding-inline-section);
}

.subfooter-container{
    justify-content: center;
    gap:30px;
}




/* also edited at last */
/* added again */

#to-home{
    height:50px;
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c4f77;
    border-radius: 50%;
    border:none;
    position: fixed;
    bottom:50px;
    right:50px;
    cursor: pointer;
    transition:0.2s ease-out;
    color:#183153;
    visibility:hidden;
    transition: all 0.5s ease-in-out;
}
#to-home i{
    transform: scale(1.5);
}
#to-home:hover{
    color:white;
}