*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#000000fb;
    
}
header{
    border-bottom:1px solid #c7c5c518;
}
nav{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    padding:0 3vw;
}

nav ul{
    min-height: fit-content;
    width:40%;
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

}
nav ul li a{
    font-size:1.3vw;
    color:#cccccc;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    letter-spacing: 1.5px;
    transition: all 0.3s;

}
nav ul li a:hover{
    color:#fe8040;
}

nav ul a::after{
    content:"";
    border-bottom:2px solid #fe500e;
    display: block;
    transform:translateX(-110%);
    transition: all 0.2s linear;
}

nav ul a:hover::after{
    transform:translateX(110%);
}


main{
    height:100vh;
    position: relative;

}

#page1{
    height: 100%;
    width: 100%;
    position: relative;
    padding:1vw 3vw;
    /* background-color: #000; */
}
.page1-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.page1-top{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.page1-left h4{
    color:#fe500e;
    font-size: medium;
    letter-spacing: 1.5px;
    font-weight: lighter;
    margin-bottom: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page1-left h1{
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: 2px;
    color:#fff;
    margin: 0 0 1.5vw 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.page1-left b{
    font-weight: 600;
    color:#265077;
}
.page1-left p{
    color:#cccccc;
    font-size: large;
    font-weight: 200;
    letter-spacing: 1.8px;
    margin-bottom: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page1-left a{
    padding:1.5vw 1.8vw;
    border-radius:5px;
    text-decoration: none;
    color:white;
    background-color: #fe500e;
    letter-spacing: 1.2px;
    width:fit-content;
    transition:all 0.18s linear; 
}
.page1-left a:hover{
    transform:translateY(-5%);
}
.page1-left a:active{
    background-color:#fa6419;
}
.page1-right{
    height:100%;
    width:70%;
    overflow: hidden;
    position: relative;
    border-radius: 0.7vw;

}
.overlay{
    height: 100%;
    width:100%;
    position:absolute;
    background-color: #00000042;
}
.page1-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.page1-bottom{
    padding:0 3vw;
}
.page1-bottom p{
    font-size: xx-large;
    margin:0 0 2vw 0;
    color:#cccccc;
    border-top: 1px solid rgba(255, 255, 255, 0.126);
    padding:2vw 0;
}
.page1-bottom b{
    color:#FE500E;
    font-weight: lighter;
}
.moving-logos{
    white-space: nowrap;
    overflow-x: auto;
    box-shadow: 0 0 20px #2b2a2a;
    border-radius: 5px;
}
.moving-logos::-webkit-scrollbar{
    display: none;
}

.clients-slide{
    height:70px;
    display: inline-block;
    white-space: nowrap;
    animation: sliderAnimation 8s linear 0s infinite;
}
.clients-slide img{
    height:100%;
    display: inline-block;
}

@keyframes sliderAnimation{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
} 


#page2{
    min-height:100%;
    width:100%;
    margin-top: 1.5vw;
    padding:4vw 3vw;
    position:realtive;
    display: flex;
    justify-content: space-between;
    gap:2vw;
    /* background-color: #000; */
    
}

.page2-left{
    height: 100%;
    width:70%;
    height: min-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:2vw;
    gap:1vw;
    border-radius: 50px;
    background-color: #070807;
    /* background-color: #f8f8f8; */
}

.page2-left .services{
    height:100%;
    width:40%;
    padding:1.5vw 1vw;
    border-radius:10px;
    background-color: #080808;
    /* background-color: #fff; */
}

.page2-left .services h3{
    font-size: x-large;
    font-weight: lighter;
    letter-spacing: 1.2px;
    color:#265077;
    font-weight: 300;
    margin:2vw 0;
} 
.page2-left .services p{
    font-size: large;
    color:#ccc;
    /* color:#0f0f0f75; */
}


.page2-right{
    border-radius: 50px;
    padding:1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: #070807;
    /* background-color:#f8f8f8 ; */
}

.page2-right h4{
    color:#FE500E;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 1.2px;

}

.page2-right h2{
    color:#265077;
    font-size:3.5vw;
    font-weight: lighter;
    margin:0.5vw 0 2vw 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page2-right strong{
    color:#033c75;
}
.page2-right p{
    color:#ccc;
    /* color:#0f0f0f75; */
    font-size: larger;
    margin:0 0 2vw 0;
    text-align: justify;

}

.page2-right a{
    padding:1.5vw 1.8vw;
    border-radius:5px;
    text-decoration: none;
    color:white;
    background-color: #fe500e;
    letter-spacing: 1.2px;
    width: fit-content;
}


/* #PAGE 3 */

#page3{
    height:100%;
    width:100%;
    position: relative;
    padding:0 3vw;
}

#page3 .container{
    background-color: #070807;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.5vw;
    padding:2vw 3vw;
    border-radius: 20px;
}
#page3 .left{
    height:100%;
    width:50%;
    border-radius:2px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
#page3 .left img{
    width: 100%;
    object-fit: cover;
} 


#page3 .right {
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:1.7vw;
    background-color: #080808;
}
#page3 .right h4{
    color:#FE500E;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

#page3 .right  h2{
    color:#265077;
    font-weight: 400;
    font-size: 3.5vw;
}
#page3 .right strong{
    font-weight: 600;
}
#page3 .right p{
    color:#ccc;
    font-size: large;
    line-height: 1.6vw;
}

#page4{
    height:100%;
    width:100%;
    position: relative;
    padding:0 3vw;

}

#page4 .container{
    display: flex;
    justify-content: space-between;
}


#page4 .left{
    display: flex;
    flex-direction: column;
    padding:1vw;
    background-color: #080808;
    justify-content: space-evenly;
    width: 55%;
}
#page4 .left h4{
    color:#FE500E;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.2px;
}


#page4 .left  h2{
    color:#265077;
    font-weight: 400;
    font-size: 3.5vw;
}
#page4 .left strong{
    font-weight: 600;
}

#page4 .left p{
    color:#ccc;
    font-size: large;
    line-height: 1.6vw;
}

#page4 .right{
    width:50%;
    padding:2vw 1vw; 
    background-color: #070809;
}
#page4 .right form{
    display: flex;
    height:100%;
    flex-direction: column;

}

#page4 .right form input,textarea{
    padding:1vw;
    border:none;
    border-bottom:1.5px solid #cccccc8c;
    outline:none;
    font-size: 1.2vw;
    margin:0 0 10px 0;
    background-color: #080808;
    color:whitesmoke;
    
}
#page4 .right form input::placeholder{
    color:#ccc;
}
#page4 .right form textarea::placeholder{
    color:#ccc;
}

#footer{
    border-top:1px solid rgba(255, 255, 255, 0.363);
    background-color: #0e0d0d;
    height:max-content;
    padding:2vw;
    text-align: center;
}
#footer p{
    font-size: larger;
    color:#ccc
}